<p>

  {{homeTitle}}

</p>
<!-- <ng-content></ng-content> -->

<!-- property binding -->
<!-- <input  value ="{{myString}}"/>
<input [required] = "myBoolean"/>
<button (click)  = 'alertMe("I like Tuna")'>Click Me</button>
<p>
   {{ninja.name}}
   {{ninja.belt}}
</p> -->

 <!-- two data-binding  -->
<!-- <label for="name"> Name</label>

<input name ="name" [(ngModel)] = 'ninja.name'/>
<label for="belt">Belt</label><input name ="belt" [(ngModel)] ='ninja.belt' />

<p>{{ninja.name}}</p>
<p>{{ninja.belt}}</p> -->

<!--
<button (click) = "fireYellEvent($event)"> Hit me </button> -->
<button (click) ="logIt()">Log me</button>
